---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>{{ site.name }}</title>
  <link>{{ site.url }}/</link>
  <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
  <description>{{ site.tagline }}</description>
  <language>ja</language>
  {%- for a in collections.articles | limit(20) %}
  <item>
    <title>{{ a.data.title }}</title>
    <link>{{ site.url }}{{ a.url }}</link>
    <guid>{{ site.url }}{{ a.url }}</guid>
    <pubDate>{{ a.date.toUTCString() }}</pubDate>
    <description>{{ a.data.description }}</description>
  </item>
  {%- endfor %}
</channel>
</rss>
